{% extends "mutual_funds/base.html" %}
{% block content %}

    <div class="d-flex flex-column justify-content-center align-items-center h-100">
            <div class="flex-column">
                <h6>Add New Mutual Fund </h6>
                <form action="" method="POST" class="d-flex flex-column">
                    {% csrf_token %}
                    <div class="d-flex flex-column">
                        <input name="isin" class="form-control input-lg"  placeholder="Enter isin number" required>
                        <input type="submit" name="type" class="btn btn-primary" value="save"/>
                    </div>
                </form>
            </div>
            <div class="flex-column">
                <h6>Upload Mutual Fund CSV</h6>
                <form method="POST" class="d-flex flex-column">
                    {% csrf_token %}
                    <input name="url"  class="form-control input-lg"  placeholder="Enter url to upload" required>
                    <input type="submit" name="type" class="btn btn-primary" value="upload"/>
                </form>
            </div>
    </div>
{% endblock %}